{
  "swagger": "2.0",
  "info": {
    "version": "2018-07-19T21:44:49Z",
    "title": "eFax Developer Reporting API"
  },
  "host": "api.secure.efaxdeveloper.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/account-overview/{date}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "efax-username",
            "in": "header",
            "description": "efax developer username",
            "required": true,
            "type": "string"
          },
          {
            "name": "date",
            "in": "path",
            "description": "YYYY-MM-DD Format.",
            "required": true,
            "type": "string"
          },
          {
            "name": "efax-password",
            "in": "header",
            "description": "efax developer password",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/failures/{date}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "efax-username",
            "in": "header",
            "description": "efax developer username",
            "required": true,
            "type": "string"
          },
          {
            "name": "date",
            "in": "path",
            "description": "YYYY-MM-DD Format.",
            "required": true,
            "type": "string"
          },
          {
            "name": "efax-password",
            "in": "header",
            "description": "efax developer password",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/number-overview/{date}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "efax-username",
            "in": "header",
            "description": "efax developer username",
            "required": true,
            "type": "string"
          },
          {
            "name": "date",
            "in": "path",
            "description": "YYYY-MM-DD Format.",
            "required": true,
            "type": "string"
          },
          {
            "name": "efax-password",
            "in": "header",
            "description": "efax developer password",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "x-api-key",
      "in": "header"
    }
  },
  "definitions": {
    "Empty": {
      "type": "object",
      "title": "Empty Schema"
    }
  }
}
